<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814607458205-7bndog0136be50874db9pc6hav0rtl4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814607458205-7bndog0136be50874db9pc6hav0rtl4p</string>
	<key>API_KEY</key>
	<string>AIzaSyD9LAb1R2Ovb22vC4dxQGzCIQQNv7sgyns</string>
	<key>GCM_SENDER_ID</key>
	<string>814607458205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paypee</string>
	<key>PROJECT_ID</key>
	<string>paypee-d479a</string>
	<key>STORAGE_BUCKET</key>
	<string>paypee-d479a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814607458205:ios:d2c592d6221cbbcde9d974</string>
</dict>
</plist>